.container {
  width: 90%;
  max-width: 590px;
  margin: 0 auto;
  /* border: 1px solid magenta; */
}

.card-padding {
  width: 80%;
  border: 1px solid magenta;
}

.App {
  /* margin: 5em 0; */
  /* border: 1px solid magenta; */
}
